*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
body{
    background-color: rgb(56, 121, 133);
    
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-style: oblique;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    box-shadow: 1vh 0.8vw 0.5vw #4b4b4b;
    margin: 1%;
    border-radius: 0.2rem;
}
/*
li {
    display: inline-block;
    padding: 0.7%;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: beige;
    margin-left: 1%;
    align-items: left;
    border-radius: 0.1rem;
}
*/
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.secao-1, .secao-2, .secao-3, .secao-4, .secao-5, .secao-6{
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
    text-align: center;
}
a img{
    height: 22vh;
    width: 12vw;
    box-shadow: 1vh 0.8vw 0.5vw #4b4b4b;
}
figure>img{
    border-radius: 0.7rem;
}
figcaption{
    font-size: 1.1rem;
    padding-top: 1.3vh;
}
footer{
    text-align: center;
    padding: 2vh;
}
@media (max-width: 1024px) {
    h1 {
        font-size: 1.7rem;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.7rem;
    }
}

